<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
   
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/assets/logo.png" rel="icon">
    <link href="/public/css/sytle.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile Web</title>
</head>
<body>
<main>
        <div class="b-example-divider"></div>
        <div class="container" , class=".header-style">
          <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="#home" class="nav-link" aria-current="page">Home</a></li>
              <li class="nav-item"><a href="#projects" class="nav-link">Projects</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            </ul>
          </header>
        </div>
        <div class="container col-xxl-8 px-4 py-5" id="home">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
              <div class="col-10 col-sm-8 col-lg-6">
                <img src="/public/assets/ideia.jpeg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
              </div>
              <div class="col-lg-6">
                <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Learn how to learn is the first step to be a good programmer</h1>
                <p class="lead">My first problem when I started studying programming was: how to learn correctly, how to really understand how technology works and finally, after a long journey of failing and managing to overcome challenges, understand how technology becomes a solution for businesses and people. </p>
              </div>
            </div>
          </div>
        <div class="container marketing">
        <hr class="featurette-divider">

        <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">A long way to cross. <span class="text-body-secondary">Step by step.</span></h2>
            <p class="lead">I believe that all programmers start with a simple "Hello World" in the terminal, just like them, I did the same thing, and learning to program is like this, you learn step by step, each day you introduce a new concept, test new things, get it right, often make mistakes and learn from your mistakes. Today I feel happy with what I have learned and with what I will learn, because I went from a simple "Hello World" in the terminal to this incredible project.</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="500" src="/public/assets/circlee.png" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"></img>
        </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Hello World. <span class="text-body-secondary">How I am?.</span></h2>
            <p class="lead">Young Brazilian passionate about technology, who crossed the ocean in search of knowledge and training in the programming area, I worked for 3 years with telecommunications in Brazil, I currently live in Portugal, where I have worked in a bit of everything, at the moment I am finishing the 42 course with the objective of transitioning careers.</p>
            <button type="button" id="get-mycv" class="make_btn ">Get My CV</button>
          
        </div>
        <div class="col-md-3 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300"  src="/public/assets/whoaim.jpeg" reserveAspectRatio="xMidYMid slice" focusable="false"></img>
        </div>
        </div>
        <hr class="featurette-divider">
        <div class="album py-3 bg-body-tertiary">
            <div class="container" id="projects">
        
              <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/public/assets/cub3d.gif" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                    <div class="card-body">
                      <p class="card-text">Cub3D  my first raycaster with miniLibX, the ideia is create a pseudo game with algorthim raycast in C.<br>I loved this project.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://github.com/diegosou4/cub3D" target="_blank">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/public/assets/So_Long.gif" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                    <div class="card-body">
                      <p class="card-text">My first 2D game in C, from a file
                        that contains information such as the map should be, I used sprite movement techniques to carry out this project.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="https://github.com/diegosou4/so_long" target="_blank">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="/public/assets/inception.png" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
                    <div class="card-body">
                      <p class="card-text">You know yo to docker works? This project you need create containers peer service to using Ngnix, Mariadb , Wordpress and anothers services like Postfix, i was loved this project, because i use to create more knowlegde with Bootstrap, Node js</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                          <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="b-example-divider"></div>
          <div class="container px-4 py-5" id="icon-grid">
            <h2 class="pb-2">Technologys</h2>
        
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
              <div class="col d-flex align-items-start">
                <img class="bi text-body-secondary flex-shrink-0 me-3" src="/public/assets/c_lan.svg" width="70em" height="70em" alt="C Language Icon">
                <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">C</h3>
                  <p>They language I have a pretty knowledge, there were more than 7 projects done in pure C.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <img class="bi text-body-secondary flex-shrink-0 me-3" src="/public/assets/cplusplus.svg" width="70em" height="70em" alt="C++ Language Icon">
                <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">C++</h3>
                  <p>C++ is one of my favorite languages, and I'm getting to know it better now at 42. I've already done some personal and work projects with
                    QtCreator.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <img class="bi text-body-secondary flex-shrink-0 me-3" src="/public/assets/javascript.svg" width="70em" height="70em" alt="javascript Language Icon">
                <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">javascript</h3>
                  <p>The first language I learned, I got to know its syntax and I created some projects to solve personal problems.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <img class="bi text-body-secondary flex-shrink-0 me-3" src="/public/assets/docker.svg" width="70em" height="70em" alt="Docker Icon">
                <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Docker</h3>
                  <p>If you are seeing this site online, it is because containers were created to upload your services separately.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <img class="bi text-body-secondary flex-shrink-0 me-3" src="/public/assets/github.png" width="70em" height="70em" alt="Github Icon">
                <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Github</h3>
                  <p>My favorite project manager this year alone there were 1,114 commits, each one has its own meaning.</p>
                </div>
              </div>
              <div class="col d-flex align-items-start">
                <img class="bi text-body-secondary flex-shrink-0 me-3" src="/public/assets/slack.svg" width="70em" height="70em" alt="Slack Icon">
                <div>
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Slack</h3>
                  <p>A platform introduced by 42 that helps me a lot when I have problems, I can reach any student in the world with just one message.</p>
                </div>
              </div>
            </div>
          </div>
          <hr class="featurette-divider">
        </div>
        <div class="contact_wrapper">
          <div class="container">
              <div class="form_wrap">
                  <form>
                      <div class="row">
                          <div class="col-12 text-center">
                              <h2 class="head_text">Get In Touch</h2>
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <input class="input_info" id="name-customer" type="text"  placeholder="Your Name">
                          </div>
                          <div class="col-lg-4 col-sm-6">
                              <input class="input_info" id="email-customer" type="text" placeholder="Your Email"  >
                          </div>
                          <div class="col-lg-4 col-md-12">
                              <input class="input_info custom_mt" id="sbj-mail" type="text" placeholder="Your Subject">
                          </div>
                          <div class="col-12">
                              <textarea class="input_info textarea_info mt_30" id="msg-mail" placeholder="Your Message"></textarea>
                              <div class="text-center">
                                  <button type="button" id="sbt-button" class="make_btn mt_30">Send Message</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
        </main>
        <hr class="featurette-divider">
  
    <div class="container">
      
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center  pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Projects</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
      </ul>
      <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
    </footer>
  </div>
    </main>
    <script src="/public/js/app.js"></script>
    <script src="/public/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
